<h1>Here are your charts!</h1>

<div class="row ml-2 mr-2">
  <div class="col float-left">
    ChartJS
    <button class="btn btn-primary float-right ml-2">
      <span class="fa fa-refresh mr-2"></span>Refresh Data
    </button>
    <button class="btn btn-primary float-right mr-0 ml-2"
            (click)="onSortData(sharedData)">
      <span class="fa fa-sort-desc mr-2"></span>Sort Data
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6">
    <chart id="1" [type]="chartType1" [data]="sharedData" [options]="sharedOptions"></chart>
  </div>
  <div class="col-12 col-lg-6">
    <chart id="2" [type]="chartType2" [data]="sharedData" [options]="sharedOptions"></chart>
  </div>
  <div class="col-12 col-lg-6">
    <chart id="3" [type]="chartType3" [data]="sharedData" [options]="sharedOptions"></chart>
  </div>
</div>
